{% extends "core/base.html" %}

{% block content %}
    <h1>カテゴリ『{{ category.name }}』のページ</h1>
    <br>

    {% if children %}
        <h2>{{ category.name }}の子供カテゴリ</h2>
        <ul>
            {% for child in children %}
                <li>
                    <a href="{{ url_for('forums.category', slug=child.slug) }}">
                        {{ child.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>
        {% else %}
    {% endif %}

    <h2>スレッド一覧</h2>
    {% if thread %}
        <a href="{{ url_for('forums.thread_new', slug=category.slug) }}"><button>新しくスレッドを立てる</button></a>
        <ul>
            {% for thread in threads %}
                <li>
                    <a href="{{ url_for('forums.thread_detail', ) }}">
                        {{ thread.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <!-- <br>
        <h2>動的に生成されたウィキ</h2> -->
        {% else %}
        <p>まだスレッドはありません。</p>
        <a href="{{ url_for('forums.thread_new', slug=category.slug) }}"><button>新しくスレッドを立てる</button></a>
    {% endif %}
{% endblock %}
