<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('core.static', filename='css/style.css') }}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <h1>サイトマップ</h1>
        <ul>
            <li><a href="{{ url_for('core.index') }}">ホーム</a></li>
            <li><a href="{{ url_for('core.robots_txt') }}">クローラー対策</a></li>
            <li><a href="{{ url_for('core.llms_txt') }}">AI対策</a></li>
            <li><a href="{{ url_for('admin.index') }}">管理者ダッシュボード</a></li>
        </ul>
        <br>
        <hr>
        <br>
        {% block content %}
        {% endblock %}
    </body>
</html>