{% extends 'base/.html' %}
{% block content %}
<div class="min-h-[70vh] flex items-center justify-center px-4 py-12">
  <div class="w-full max-w-md">
    <div class="bg-zinc-900 backdrop-blur rounded-2xl shadow-xl shadow-[#149414] p-8">
      <div class="mb-6">
        <h1 class="text-3xl font-bold tracking-tight">ログイン</h1>
      </div>

      <form method="POST" action="{{ url_for('auth.login', next=next) }}" class="space-y-4">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="next" value="{{ next }}">

        <div>
          <input
            type="email"
            name="email"
            autocomplete="email"
            required
            placeholder="メールアドレス"
            class="text-black mt-2 w-full rounded-xl border border-black/10 bg-neutral-300 px-4 py-3 outline-none
                   focus:ring-2 focus:ring-black/20 focus:border-black/20"
          >
        </div>

        <div>
          <input
            type="password"
            name="password"
            autocomplete="current-password"
            required
            placeholder="パスワード"
            class="text-black w-full rounded-xl border border-black/10 bg-neutral-300 px-4 py-3 outline-none
                   focus:ring-2 focus:ring-black/20 focus:border-black/20"
          >
        </div>

        <button
          type="submit"
          class="w-full rounded-xl bg-green-800 text-white py-3 font-semibold
                 hover:opacity-90 active:opacity-80 transition"
        >
          ログイン
        </button>

        <div class="text-sm text-glay-500 flex items-center justify-between">
          <span>アカウントが未作成ですか？</span>
          <a
            href="{{ url_for('auth.signup', next=next) }}"
            class="font-semibold text-glay-500 hover:underline"
          >
            サインアップ
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
