<div>
    <div class="px-3 pb-1 flex items-center justify-between text-neutral-500 text-xs">
        <div class="flex gap-5">
            <a href="{{ url_for('core.tos') }}" class="underline hover:opacity-70">利用規約</a>
            <a href="{{ url_for('core.pp') }}" class="underline hover:opacity-70">プライバシーポリシー</a>
        </div>

        <div>
            <small class="text-xs">&copy; 2026 名称未定</small>
        </div>
    </div>
    <div class="pb-3 bg-gradient-to-b from-transparent to-[#149414]"></div>
</div>